.main-block{
    width: 560px;
    height: 560px;
    margin: 30px auto;
    border: 1px solid black;
}

.block{
     /* 8 X 8 поле (8*70 = width 560px) */
    width: 70px; 
    height: 70px;
    float: left;
}

.black{
    background: black;
}

.white{
    background: white;
}